---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ letsencrypt_issuer_prod }}
  namespace: cert-manager
spec:
  acme:
    email: {{ cert_manager_acme_email }}
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: {{ letsencrypt_issuer_prod }}
    solvers:
    - dns01:
        cloudDNS:
          # The ID of the GCP project
          project: {{ gcp_project_id }}
          # This is the secret used to access the service account
          serviceAccountSecretRef:
          # Set up a Service Account
          # Look: https://cert-manager.io/docs/configuration/acme/dns01/google/
            name: {{ gcp_serviceaccount_name }}
            key: key.json
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ letsencrypt_certificate_name_prod }}
  namespace: cert-manager
spec:
  secretName: {{ letsencrypt_certificate_name_prod }}-tls
  issuerRef:
    name: {{ letsencrypt_issuer_prod }}
    kind: ClusterIssuer
  commonName: "*.{{ domain }}"
  dnsNames:
  - "*.{{ domain }}"
---
