---
apiVersion: cert-manager.io/v1alpha2
kind: Issuer
metadata:
  name: letsencrypt-staging
  namespace: cert-manager
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: {{ cert_manager_acme_email }}

    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: letsencrypt-staging

    # ACME DNS-01 provider configurations
    solvers:
    # We only use cloudflare to solve challenges for example.org.
    # Alternative options such as 'matchLabels' and 'dnsZones' can be specified
    # as part of a solver's selector too.
    - selector:
        dnsNames:
        - '*.{{ domain }}'
      dns01:
        cloudflare:
          email: {{ cert_manager_acme_email }}
          # !! Remember to create a k8s secret before
          # kubectl create secret generic cloudflare-api-key-secret
          apiKeySecretRef:
            name: cloudflare-api-key-secret
            key: api-key

---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: klabs-com-stg
  namespace: cert-manager
spec:
  secretName: klabs-com-tls-stg
  issuerRef:
    name: letsencrypt-staging
  dnsNames:
  - '*.{{ domain }}'

