---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
  namespace: cert-manager
spec:
  acme:
    email: {{ cert_manager_acme_email }}
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
    - dns01:
        cloudDNS:
          # The ID of the GCP project
          project: {{ gcp_project_id }}
          # This is the secret used to access the service account
          serviceAccountSecretRef:
          # Set up a Service Account
          # Look: https://cert-manager.io/docs/configuration/acme/dns01/google/
            name: {{ kubernetes_cert_manager_secret_name }}
            key: key.json
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: klabs-com-staging
  namespace: cert-manager
spec:
  secretName: klabs-com-staging-tls
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  commonName: "*.{{ domain }}"
  dnsNames:
  - "*.{{ domain }}"
---
